@media (max-width: 465px) {
  .mobileBar {
    display: flex;
    background: #35d3db;
    height: 45px;
    justify-content: flex-end;
    z-index: 11;

    button {
      background: none;
      cursor: pointer;
      border: none;
      margin-right: 15px;

      i {
        color: white;
        font-size: 2em;
        cursor: pointer;
      }
    }
  }
}
