.mainDashboard {
  background: repeating-linear-gradient(
    135deg,
    #21252907,
    #21252905 5px,
    rgba(0, 0, 0, 0.007) 5px,
    rgba(0, 0, 0, 0) 10px
  );
  height: 100vh;
}

.errorPopUp {
  position: fixed;
  width: 200px;
  background: rgba(255, 0, 0, 0.767);
  color: white;
}
