/// organizes all the job blocks on the page
.jobsBlocks {
    display: flex;
    margin: 0 auto;
    border: solid red 2px;
    justify-content: center;
    font-family: 'Oswald', sans-serif;

    /// styles the job cards
    .jobCard {
        position: relative;
        background: rgb(186, 43, 214);
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 15px;
        border: solid rgb(0, 217, 255) 4px;

        .jobCompany {
            margin-top: 15px;
            color: white;
            font-size: 3.8em;
            letter-spacing: 2.3px;
        }

        .jobTitle {
            margin-top: -30px;
            letter-spacing: 2.3px;
            color: rgba(255, 255, 255, 0.733);
            font-size: 2.8em;
        }

        .appliedText {
            color: rgba(255, 255, 255, 0.808);
            letter-spacing: 2px;
            font-size: 1em;
            margin-top: -20px;
            margin-left: 4px;

            span {
                font-size: 1.2em;
                color: white;
            }
        }

        .jobLink {
            position: absolute;
            right: 25px;
            top: 100px;
        }
    }
}


.jobForm {
    background: rgba(153, 185, 206, 0.945);
    width: 400px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;

    .validInput {
        color: black;
        background: none;
        padding: 5px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 1px;
        font-size: 1em;
        margin-bottom: 10px;
        border: solid white 2px;
        border-radius: 5px;
    }

    .validInput::placeholder {
        font-family: 'Oswald', sans-serif;
        transition: 0.8s;
        letter-spacing: 1px;
        color: white;
    }

    .validInput:hover::-webkit-input-placeholder {
        font-family: 'Oswald', sans-serif;
        font-size: 0.5em;
        transition: 0.8s;
        letter-spacing: 1px;
    }

    button {
        padding: 15px 20px;
        border-radius: 5px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 1px;
        color: white;
        background-color: rgb(186, 43, 214);
        font-size: 1em;
        border: none;
        margin-bottom: 20px;
        transition: 0.25s;
    }

    button:hover {
        background-color: rgba(138, 2, 172, 0.918);
        transition: 0.25s;
    }
}