.addConnectionForm {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    background: rgba(2, 179, 84, 0.89);
    z-index: 1;
    border-radius: 5px;
}

.editConnectionForm {
    position: relative;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    background: rgba(60, 0, 139, 0.904);
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;

    h3 {
        color: white;
        font-size: 1.5em;
        font-weight: normal;
        padding-top: 20px;
        margin: 0;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
    }

    .inputCnxBlocks {
        display: flex;
    }

    .cnxNameAndTitle {
        display: flex;
        flex-direction: column;
    }

    .cnxCompanyAndContact {
        display: flex;
        flex-direction: column;
    }

    .connectionInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        margin-bottom: 5px;
        width: 250px;
        margin: 0 10px;
        border-radius: 2px;

        h3 {
            margin: 0;
            padding: 0;
            font-size: 0.7em;
            margin-bottom: 2px;
            margin-right: 5px;
            color: rgba(255, 255, 255, 0.781);
            text-align: left;
        }

        input {
            padding: 10px 5px;
            font-family: 'Oswald', sans-serif;
            color: rgba(0, 0, 0, 0.842);
            margin: 0;
            margin-bottom: 3px;
            border-radius: 3px;
            border: none;
            transition: 0.5s;
            border: solid white 3px;
        }

        input:hover {
            transition: 0.5s;
            border: solid rgb(19, 230, 19) 3px;
        }

        input:focus {
            transition: 0.5s;
            border: solid rgb(44, 206, 255) 3px;
        }

    }

    .notesArea {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        width: 505px;
        margin: 0 10px;
        border-radius: 2px;
        border: none;
        border-radius: 3px;

        textarea {
            width: 100%;
            border: none;
            border-radius: 3px;
            resize: none;
            height: 70px;
            padding: 5px;
            transition: 0.5s;
            border: solid white 3px;
        }

        textarea:focus {
            transition: 0.5s;
            border: solid rgb(44, 206, 255) 3px;
        }

        h3 {
            margin: 0;
            padding: 0;
            font-size: 0.7em;
            margin-bottom: 2px;
            margin-right: 5px;
            color: rgba(255, 255, 255, 0.781);
            text-align: left;
        }
    }

    // closeButton
    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
        background: none;
        border-radius: 500px;
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;

        i {
            color: rgb(255, 93, 93);
            font-size: 2em;
        }
    }
}