.overviewPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        width: 60%;
        display: inline-block;
        font-size: 2em;
        padding: 40px;
        font-weight: -300;
        color: black;
        line-height: 1.4;
        margin-top: -50px;
        font-family: 'Oswald', sans-serif;
    }

    button {
        margin-top: 30px;
        font-size: 1.5em;
        font-family: 'Oswald', sans-serif;
        background: none;
        padding: 10px 40px;
        border: solid black 2px;
        border-radius: 4px;
        transition: 0.5s;
    }

    button:hover {
        transition: 0.5s;
        padding: 5px 20px;
        border: solid red 2px;
        
    }

    .jobsAndConnections {
        display: flex;  
        margin-top: -50px; 
        height: 100px;
        
        .jobsCount {
            display: flex;
            align-items: center;
        }

        .connectionsCount {
            display: flex;
            align-items: center;
        }

        .numberOne {
            font-size: 5em;
            color: red;
        }

        .numberTwo {
            font-size: 5em;
            color: blue;
        }
        
        h2 {
            padding: 20px;
            font-family: 'Oswald', sans-serif;
            font-size: 2.5em;
        }
    }
}